<p id="notice"><%= notice %></p>

<p>
  <b><%= @attacker.name %></b> just attacked you with <%= @attack.attack_name %>! <%= @attacker.name %> also left you a message: "<%= @user_attack.message %>"
</p>

<br />
<p>
  <b><%= @attack.attack_name %></b>
  <br/>
  <%= image_tag @attack.attack_image, :alt => @attack.attack_name %>
</p>