<p id="notice"><%= notice %></p>

<p>
  <b>Attacker:</b>
  <%= @attacker.name %>
</p>

<p>
  <b>Victim:</b>
  <%= @victim.name %>
</p>

<p>
  <b>Attack:</b>
  <%= @attack.attack_name %>
</p>

<p>
  <b>Message:</b>
  <%= @user_attack.message %>
</p>

<p>
  <b>Created at:</b>
  <%= @user_attack.created_at %>
</p>
