<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>AntAmbush</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />

<link id="agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRiJgQkM" rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRiJgQkM" />
<script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRiJgQkM"></script>

<style type="text/css">
body
{
background-color:#ffffff;
}
h1
{
color:orange;
text-align:center;
}
p.msg
{
    font-family:"Arial";
    font-size:20px;
    text-align:center;
    height:25px;
}
div.msg
{
    font-family:"Arial";
    font-size:20px;
    text-align:center;
    height:25px;
}
</style>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24605013-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>
<body>

<div>
  <%= image_tag "logo.png", :align => "middle", :alt => "AntAmbush - Attack your friends" %>
  <p class="msg"><b><a style="color: #ecaa4f" href="http://www.facebook.com/profile.php?id=<%= @attacker.fbid %>"><%= @attacker.name %></a></b> just attacked you with the <%= @attack.attack_name %>!</p>
</div>

<br />
<hr>

<br />
<%
  if @user_attack.message.length > 0
%>
  <p class="msg">"<%= @user_attack.message %>"</p>
<%
  end
%>

<br />
<br />
<p class="msg">
  <b><%= @attack.attack_name %></b>
</p>

<p class="msg">
  <br/>
  <%= image_tag @attack.attack_image, :alt => @attack.attack_name %>
</p>

</body>
</html>