<HEAD>
<SCRIPT language="JavaScript">
<!--

var password;
var pass1="zahra";

password=prompt('Please enter your password to view this page!',' ');

if (password != pass1) {
  window.location="http://www.antambush.com";
}

//-->
</SCRIPT>
</HEAD>

<h1>Listing attacks</h1>

<table>
  <tr>
    <th>Attack name</th>
    <th>Attack image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attacks.each do |attack| %>
  <tr>
    <td><%= attack.attack_name %></td>
    <td><%= attack.attack_image %></td>
    <td><%= link_to 'Show', attack %></td>
    <td><%= link_to 'Edit', edit_attack_path(attack) %></td>
    <td><%= link_to 'Destroy', attack, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attack', new_attack_path %>
