<HEAD>
<SCRIPT language="JavaScript">
<!--

var password;
var pass1="zahra";

password=prompt('Please enter your password to view this page!',' ');

if (password != pass1) {
  window.location="http://www.antambush.com";
}

//-->
</SCRIPT>
</HEAD>

<h1>Listing users</h1>

<table>
  <tr>
	<th>ID</th>
    <th>Name</th>
    <th>FBID</th>
    <th>Appuser</th>
	<th>Device Token</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.fbid %></td>
    <td><%= user.appUser %></td>
	<td><%= user.device_token %></td>
    <td><%= user.created_at %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
